/* todo */

* {
    margin: 0px;
    border: 0px;
}

img {
    width: 100%;
    height: 100%;
}

A:link {
    text-decoration: none;
    color: black;
}

A:visited {
    color: black;
    font-family: arial;
    text-decoration: none
}

@font-face {
    font-family: courierPrime-Bold;
    src: url(../fonts/CourierPrime-Bold.ttf);
}

p,
li {
    font-family: CourierPrime-Bold;
}

p,
li:hover {
    font-family: CourierPrime-Bold;
}

@font-face {
    font-family: IBMPlexSAnsArabic;
    src: url(../fonts/IBMPlexSansArabic-Regular.ttf);
}

h1,
h2,
h3 {
    font-family: IBMplexSAnsArabic-regular;
}

li {
    list-style: none;
    text-align: center;
}

header {
    grid-area: header;
}

.gridContainer {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* header */

.container {
    background: #F9DC5C;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* main */

main {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #F9DC5C;
    background-image: url(../images/ip2.png);
    grid-area: main;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
}

.title {
    text-align: center;
}

.section__pag {
    margin-left: 8%;
    margin-right: 8%;
    background: #FAE588;
}

#palab {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.section__pag-video {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.flexContainer__card {
    width: 60%;
    background: #FAE588;
    margin-bottom: 40px;
}

.flexContainer__card--h2 {
    text-align: center;
}

.flexContainer__card--img {
    width: 90%;
    padding-left: 5%;
}

.flexConteiner__card--text {
    width: 90%;
    padding-left: 5%;
    padding-bottom: 10px;
}

/* footer */

footer {
    background: #FAE588;
    padding-top: 20px;
    grid-area: footer;
}

.flexCo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0px;
}

.footer__contact {
    text-align: center;
    width: 35%;
    padding: 5px;
}

.footer__contact--rede {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section--hist{
    height: 260px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* vista mobile */

@media screen and (min-width: 0px) and (max-width: 767px) {

    .gridContainer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    /* header */

    .header {
        width: 30%;
    }

    .navegBar {
        display: none;
        margin-bottom: 0px;
    }

    .menu {
        width: 50px;
    }

    /* main */

    .section--hist{
        height: 360px;
    }

    .flexContainer {
        justify-content: space-between;
    }

    .section__pag {
        width: 80%;
    }

    .flexContainer__card--h2 {
        font-size: 28px;
    }
    
    .form{
        padding-left: 5%;
    }

    .flexContainer__card--local {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
    
    /* footer */

    .footer__contact-title {
        text-align: center;
        font-size: 22px;
    }

    .footer__contact--rede li {
        width: 15%;
    }

}

/* vista pc */

@media screen and (min-width: 767px) and (max-width: 2300px) {

    /* header */

    .gridContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 0.5fr;
    }

    .header {
        width: 27%;
    }

    .container {
        background: #F9DC5C;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .menu .navegBar {
        display: block;
    }

    .menu {
        width: 50px;
        display: none;
    }

    .menu img {
        width: 50px;
    }

    /* naveg */

    .navegBar {
        background: #FAE588;
        height: 50px;
        width: 100%;
    }

    .Container__naveg--div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Container__naveg--div li {
        font-size: 20px;
        display: inline-block;
        width: 15%;
        text-align: center;
        padding-top: 13px;
        padding-bottom: 15px;
    }

    .Container__naveg--div :hover {
        background: white;
        font-size: 20px;
        padding-bottom: 5px;
        overflow: hidden;
    }

    /* main */

    .flexContainerPrincipal {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .section__pag {
        width: 60%;
    }

    .flexContainer {
        justify-content: space-around;
    }

    .flexContainer__card--h2 {
        font-size: 60px;
        text-align: center;
    }

    .flexContainer__card--text {
        font-size: 60px;
        text-align: right;
    }

    .container--hist {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .flexContainer__card--local {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }

    /* formulario */

    .grid {
        display: grid;
        grid-template-areas:
            "op1 op2"
            "op3 op4"
            "op5 op6"
            "op7 op7"
            "op8 op8";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr) 0.5fr;
        width: 100%;
        height: 600px;
        overflow: hidden;
    }

    .op1 {
        grid-area: op1;
        border: 2px solid black;
        text-align: center;
    }

    .op2 {
        grid-area: op2;
        border: 2px solid black;
        text-align: center;
    }

    .op3 {
        grid-area: op3;
        border: 2px solid black;
        text-align: center;
    }

    .op4 {
        grid-area: op4;
        border: 2px solid black;
        text-align: center;
    }

    .op5 {
        grid-area: op5;
        border: 2px solid black;
        text-align: center;
    }

    .op6 {
        grid-area: op6;
        border: 2px solid black;
        text-align: center;
    }

    .op7 {
        grid-area: op7;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        overflow: hidden;
        text-align: center;
    }

    .op8 {
        grid-area: op8;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        text-align: center;
    }

    .casilla {
        width: 80%;
    }

    /* footer */

    .footer__horario {
        text-align: center;
        width: 35%;
    }

    .footer__contact--rede h3 {
        text-align: center;
    }

    .footer__contact--rede li {
        width: 36px;
    }

    .footer__horario {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__horario h3 {
        text-align: center;
    }

}



/* pagina menu */

.navegMenu {
    display: grid;
    grid-template-areas:
        "o1 o1"
        "o2 o3"
        "o4 o5";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 400px;
    padding-left: 0px;
    background: #FAE588;
}

.o1 {
    grid-area: o1;
    border: 2px solid black;
}

.o2 {
    grid-area: o2;
    border: 2px solid black;

}

.o3 {
    grid-area: o3;
    border: 2px solid black;

}

.o4 {
    grid-area: o4;
    border: 2px solid black;

}

.o5 {
    grid-area: o5;
    border: 2px solid black;
}

.containerHeader--menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background: #F9DC5C;
}